* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

body {
    background: #010F17;
    color: #ffffff;
    transition: background, color 500ms ease-in-out;
}

main {
    padding: 100px 0px;
    width: 70%;
    margin: 0px auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

p {
    text-align: center;
    width: 50%;
}

h4 {
    margin-top: 30px;
}

.box{
    width: 32%;
    background: rgba(255, 255, 255, .02);
    padding: 30px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    position: fixed;
    top: 30px;
    right: 30px;
}

body.light{
    background: #ffffff;
    color: #010F17;
}

body.light .box{
    background: rgba(1, 15, 23, .04);
}